syntax: glob

# Visual Studio 2015 cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio code coverage results
*.coverage
*.coveragexml

packages/*

*.orig

*/bin/*
*/obj/*